<div class="jumbotron">

    <h1>MusicRater</h1>
    <p class="lead">Rate all parts of the music landscape - Artists, Albums, Songs and Stores</p>
    <p><a href="https://github.com/ajsheehan1/MusicRater/blob/develop/ReadMe.txt" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Artists</h2>
        <p>Add an Artist to the database and see how much the community likes them.</p>
        <p>Rate the artist on a scale of 0.0 to 5.0 </p>
        <p>Check back and see if the rest of the world has the same opinion as you.</p>
    </div>
    <div class="col-md-3">
        <h2>Rate a Song</h2>
        <p>Add an Song to the database and see how much the community likes it.</p>
        <p>Rate the song on a scale of 0.0 to 5.0 </p>
        <p>Check back and see if the rest of the world has the same opinion as you.</p>
    </div>
    <div class="col-md-3">
        <h2>Rate an Album</h2>
        <p>Add an Album to the database and see how much the community likes it.</p>
        <p>Rate the album on a scale of 0.0 to 5.0 </p>
        <p>Check back and see if the rest of the world has the same opinion as you.</p>
    </div>
    <div class="col-md-3">
        <h2>Rate a Store</h2>
        <p>Add an Music Store to the database and see how much the community likes it.</p>
        <p>Rate the store on a scale of 0.0 to 5.0 </p>
        <p>Check back and see if the rest of the world has the same opinion as you.</p>
    </div>
</div>
